<div class="container">
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row mt-5">
                <h1 class="text-secondary text-center">User Informations</h1>
                <hr>
                <div *ngFor="let i of info.data" class="col col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 g-5">

                    <div class="card" style="width: 18rem;">
                        <img src="{{i.avatar}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">First Name: </p><p class="fw-bold">{{i.first_name}}</p>
                          <p class="card-text"></p><p class="fw-bold">Last Name:last_name</p>
                          <p class="card-text ">E Mail:</p> <p class="text-muted">{{i.email}}</p>

                        </div>
                      </div>

                </div>
            </div>
        </div>
    </div>
</div>